
:host {
  display: block;
  position: absolute;
  z-index: 5;
}

.sparkle {
  display: block;
  width: 100%;
  height: 100%;

  color: var(--color);

  transform: rotate(var(--rotation));

  pointer-events: none;
}
